
@import url('https://fonts.googleapis.com/css?family=Roboto');

h1, h2, h3{

font-family: 'Roboto', sans-serif;

}

#retr{
	color: white;
	font-size: 28px;
	margin-top: 0px;
}
.fa-smile {
	color: #28A745;
}
.fa-frown{
color:#E00000;

}

.reg{
	color: rgb(124, 122, 122);
	padding-top: 40px;
}
.links a{
	color: gray;
	text-decoration: none;
}

.btn{

	background-color: #28A745;
}

.btn:hover{
	opacity: 0.9 !important;
	background-color: #fff !important;
	border: 3px solid #28A745 !important;
	color: #28A745 !important;
}

.btn_gray:hover{
	opacity: 0.9 !important;
	background-color: #fff !important;
	border: 3px solid rgb(96, 93, 93) !important;
	color: rgb(96, 93, 93) !important;
}

.btn_red:hover{
	opacity: 0.9 !important;
	background-color: #fff !important;
	border: 3px solid rgb(255, 0, 0) !important;
	color: rgb(255, 0, 0) !important;
}


.main-slider {
	padding: 60px 0;
}

.slider,.slider2,.slider3,.slider4,.slider5 {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: rgb(232,196,122);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height: 55px;
    width: 55px;
    border-radius: 30%;
    background-repeat: no-repeat;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none !important;
    background-color: dimgray;
    border: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none!important;
	appearance: none;
	cursor: pointer;
	margin-top: -62px;
	background-size: contain;
    background-image: url(images/suprisedSmile.png);
}
.slider2::-webkit-slider-thumb {
	-webkit-appearance: none!important;
	appearance: none;
	cursor: pointer;
	margin-top: -62px;
	background-size: contain;
    background-image: url(images/sadSlide.png);
}
.slider3::-webkit-slider-thumb {
	-webkit-appearance: none!important;
	appearance: none;
	cursor: pointer;
	margin-top: -62px;
	background-size: contain;
    background-image: url(images/stressSlide.png);
}
.slider4::-webkit-slider-thumb {
	-webkit-appearance: none!important;
	appearance: none;
	cursor: pointer;
	margin-top: -62px;
	background-size: contain;
    background-image: url(images/smildeSlide.png);
}
.slider5::-webkit-slider-thumb {
	-webkit-appearance: none!important;
	appearance: none;
	cursor: pointer;
	margin-top: -62px;
	background-size: contain;
    background-image: url(images/happySlide.png);
}


@media screen and (max-width: 768px){
.py-30 {
	padding-top: 30px;
	}
	footer{
		display: none;
	}

}


@media screen and (max-width: 426px){
 .upemoji{
	 display: none;
 }
}
