
#semafor{
width:120px;
height: 400px;
border: 2px solid silver;
border-radius: 20px;
margin-left: 150px;
}

.boja{
  width: 100px;
  height: 100px;
  border: 2px solid silver;
  border-radius: 50px;
  margin: 8px;
}
