@import url('https://fonts.googleapis.com/css?family=Orbitron');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url('pattern1.jpg')
}

.main {
	background: #ccc;
	width: 400px;
	height: 172px;
	margin: 100px auto;
	position: relative;
	padding: 30px;
	text-align: center;
}

.badge {
	width: 96px;
	background: #e66357;
	color: white;
	padding: 5px 10px;
	font-family: sans-serif;
	font-weight: bold;
	position: absolute;
	top: -15px;
	left: 40%;
}
.clock {
	background: #EBEBEB;
	text-align: center;
	font-size: 55px;
	height: 100%;
	padding-top: 20px;
	font-family: orbitron;
	border-radius: 4px;
	

}