@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
}
.menu-toggle{
	color: #fff;
	float: right;
	font-size: 34px;
	margin-top: 0;
	line-height: 50px;
	cursor: pointer;
	display: none;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 100px 10px 0;
	box-sizing: border-box;
	transition: .5s;
}
nav.black{
	background: rgba(0,0,0,.8);
	height: 80px;
	padding: 10px 50px;
	z-index: 1;
}
nav .logo{
	position: absolute;
	float: left;
	left: 10%;

}
nav .logo img{
	height: 80px;
	transition: .5s;
}
nav.black .logo img{
	height: 60px;
}
nav ul{
	float: right;
	margin:0;
	margin-top: 20px;
	padding: 0;
	display: flex;
}
nav ul li{
	list-style: none;
}
nav ul li a{
	list-style: 80px;
	color: #CBCDCC;
	font-family: 'Roboto', sans-serif;
	padding: 5px 20px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
}
nav ul li.active a{

	color: #000000;
	background: #C4001C;
	text-decoration: none;
}
nav ul li a:hover
{
	color: #000000;
	background: #C4001C;
	text-decoration: none;
}
section.sec1{
	width: 100%;
	height: 100vh;
	background: url('images/design3.jpg');
	background-size: cover;
}
.info{
	position: absolute;
	top: 60%;
	left: 10%;
}
.fly-in-text{
	list-style: none;
	position: absolute;
	top: -15%;
	left: 15%;
	transform: translateX(-50%) translateY(-50%);
}
.fly-in-text li {
	display: inline-block;
	margin-right: 2px;
	font-family: 'Didact Gothic', sans-serif;
	font-weight: 300;
	font-size: 3.5em;
	color: #C4001C;
	line-height: 10px;
	font-weight: bold;
	opacity: 1;
	transition: all 2.5s ease;
}
.fly-in-text li:last-child {
	margin-right: 0;
}
.fly-in-text.hidden li {
	opacity: 0;
}
.fly-in-text.hidden li:nth-child(1) { transform: translateX(-130px) translateY(40px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(200px) translateY(-20px); }


.info h2{
	font-family: 'Didact Gothic', sans-serif;
	color: #C4001C;
	font-size: 3em;
	line-height: 10px;
	margin-top: 0.3em;
	margin-bottom: 0.7em;
	font-weight: bolder;
}
.info h3{
	font-family: 'Roboto', sans-serif;
	color: #000000;
	font-size: 2em;
	margin-bottom: 1em;
}
input[type="button"]{
	margin-top: 1.2em;
	padding: 15px 30px;
	background: transparent;
	border: 2px solid #C4001C;
	color: #CBCDCC;
	font-weight: bolder;
}
input[type="button"]:hover{

	color: #C4001C;
}
.about_two{
	padding: 150px 0;
}
.box_about{
	padding: 100px 20px 120px 20px;
	background-color: #C4001C;
	top:-9.4em;
}
.box_about h2{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 1em;
	font-size: 2em;
	font-weight: bolder;
	color: #fff;
}
.box_about h4{
	font-family: 'Didact Gothic', sans-serif;
	color: #fff;
}
.box_content h5, #me{
	margin-left: 30px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.2em;
	border-bottom: 6px solid #C4001C;
	padding-bottom: 10px;
	transition: all 0.8s ease;
}

.
.about_three{
	height: 100vh;
	background-color: #252627;
	color: #fff;
	padding-top: 5%;
}
.about_three h2{
	font-family: 'Roboto', sans-serif;
	padding: 50px 0 80px 0;
	font-size: 3.5em;
	font-weight: bolder;
	color: #C4001C;
}
.box_three h5,{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.5em;
	border-bottom: 6px solid #C4001C;
}
.box_three p{
	font-family: 'Didact Gothic', sans-serif;
}


.portfolio{
	height: 100vh;
}
.portfolio h2{
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	text-align: center;
	padding:10px 20px;
	margin: 0 auto;
	margin-bottom: 100px;
	color: #fff;
	background-color: #C4001C;
}
.por {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.por:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 0.6;
}


.contact{
	background:linear-gradient(rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.8)), url('images/contact1.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 8% 0 5% 0;
	color: #C4001C;
	height: 100vh;
	background-attachment: fixed;
}
.contact h2,{
	font-family: 'Roboto', sans-serif;
	font-size: 3em;

}
.contact h4{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.5em;
}
.button {
  padding: 10px 30px;
  background: transparent;
  border: 2px solid #C4001C;
  color: #CBCDCC;
  font-weight: bolder;
  text-align: center;
  font-size: 28px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


footer{
	border-top: 1px solid #C4001C;
	background-color: black;
	padding: 0px 0;
	color: #fff;
	position: relative;
}

.foot h4{
	color: #fff;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.5em;
}

.foot i{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	color: #C4001C;
}

#me{
	color: #C4001C;
}
img.footimg{
	position: absolute;
	right: 12%;
	top: 20%;
}



@media only screen and (max-width: 768px) {
nav{
	padding: 10px 30px 10px 0;
}
nav .logo img{
	height: 40px;
}
.fly-in-text{
	left: 9%;
}
.fly-in-text li {
	margin-right: 1px;
	font-size: 1.5em;
}
.box_content h5{
	margin-left: 0px;
}
.info h2{
	font-size: 2em;
	margin-top: 0.3em;
	margin-bottom: 0.7em;
}
.info h3{
	font-size: 1em;
	margin-bottom: 1em;
}
input[type="button"]{
	margin-top: 1.2em;
	padding: 10px 25px;
}
.parallax--box{
		display: none;
	}
	.about_three{
	height: auto;
	padding-top: 0;
	text-align: center;
}
.about_three h2{
	padding: 20px 0 40px 0;
	font-size: 2.5em;
}
.box_three h5{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.5em;
	border-bottom: 6px solid #C4001C;
}
.portfolio{
	height: auto;
	margin-top: 0;
}
.portfolio h2{
	font-size: 2.5em;
	text-align: center;
	padding:10px 20px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.contact{
	padding: 8% 0 8% 0;
	height: auto;
}
.contact h2{
	font-size: 2.5em;
}
.contact h4{
	font-size: 1em;
}
.button {
  padding: 5px 10px;
  border: 1px solid #C4001C;
  font-size: 20px;
  width: 150px;
}

img.footimg{
	display: none;
}
.menu-toggle{
	display: block;
}
header nav ul{
	position: absolute;
	width: 100%;
	height: 200%;
	background: rgba(0,0,0,.8);
	top: 50px;
	left: -100%;
	transition: 0.5s;
	display: block;
}
header nav ul.active{
	left: 0;
}

header nav ul li{
	text-align: right;
	padding-top: 6px;
}
section.sec1{
	width: 100%;
	height: 100vh;
	background: url('images/design3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
}



@media only screen and (max-width: 426px) {
.about_three h2{
	padding: 20px 0 20px 0;
	font-size: 2em;
}
.contact h2{
	font-size: 2em;
}
}
