


.bg_1{
	background-image: url('images/back2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
}


.bg_2{
	background-image: url('images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}


.bg_3{
	background-image: url('images/bg.jpg');
	background-size: cover;
	background-position: center;
}


.bg_4{
	background-image: url('images/lab.jpg');
	background-size: cover;
	background-position: center;
	height: 150px;
}

.bg_col1{
	background-image: url('images/portfolio/1.jpg');
	background-size: cover;
	background-position: center;
	height: 300px;
}
.bg_col2{
	background-image: url('images/portfolio/2.jpg');
	background-size: cover;
	background-position: center;
	height: 300px;
}
.bg_col3{
	background-image: url('images/portfolio/3.jpg');
	background-size: cover;
	background-position: center;
	height: 300px;
}
.bg_col4{
	background-image: url('images/portfolio/4.jpg');
	background-size: cover;
	background-position: center;
	height: 300px;
}
.bg_col5{
	background-image: url('images/portfolio/5.jpg');
	background-size: cover;
	background-position: center;
	height: 300px;
}
.bg_col6{
	background-image: url('images/portfolio/6.jpg');
	background-size: cover;
	background-position: center;
	height: 300px;
}


.bg_5{
	background-color: rgba(255, 214, 51, 0.6);
	height: 150px;
}

.box h3{
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.box h4{
	padding-top: 50px;
}