* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    padding-top: 10px;
}

.logo-brand img {
    width: 220px;
    height: 60px;
    float: left;
    margin-left: 20px;
}

.right-side {
    float: right;
    display: flex;
    margin-top: 20px;
}

.questionmark {
    background-color: #562894;
    padding: 2px 12px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.menu {
    font-weight: bolder;
    padding: 2px 9px;
}

.menu-toggle {
    font-weight: bolder;
    padding: 2px 9px;
    font-size: 20px;
    cursor: pointer;
}

.uparrow {
    display: flex;
    position: absolute;
    color: #562894;
    right: 8%;
    top: 8.5%;
}

.overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-color: #F8F9FA;
    padding-top: 25px;
    display: none;
    z-index: 10;
}

.overlay-content a {
    display: block;
    padding: 10px 0px;
    border-top: 1px solid black;
    text-decoration: none;
    color: black;
    font-size: 30px;
    transition: 0.3s;
}

.overlay-content a:hover {
    color: gray;
}

.overlay-content a:last-child {
    border-bottom: 1px solid black;
}

.wrapbox {
    width: 100%;
    background-color: #562894;
}

.headbox h2,
h6 {
    text-align: center;
    color: white;
}

.headbox {
    padding-top: 20px;
}

.wrapitems {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.item {
    text-align: center;
}

.item img {
    width: 150px;
    height: 150px;
    margin: 40px 0px;
}

.item p {
    color: #ab9bc4;
}

.darker {
    color: #c8a7f9;
}

.button1 {
    text-align: center;
}

.btn {
    margin: 20px 0px;
    color: white;
    background-color: #562894;
    border: 1px solid #ab9bc4;
    padding: 15px 120px;
}

.btn:hover {
    background-color: #ab9bc4;
}

.filterwrap {
    background-color: #F8F9FA;
    width: 100%;
    padding: 30px 15px;
}

.filterwrap .filter {
    background-color: white;
    color: #562894;
    border: 2px solid #562894;
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    cursor: default;
}
.filterwrap .filter.filter2{
    background-color: #562894;
    color: white;
}

.filterwrap h5 {
    margin-bottom: 15px;
    font-size: 15px;
}

.filterwrap a span {
    font-size: 12px;
    color: #ab9bc4;
}

.gamesWrap {
    background-color: white;
    padding-top: 30px;
}


.card {
    height: 250px;
    border: 1px solid #562894;
    padding-top: 30px;
}

.card:hover img {
    width: 80px;
    height: 50px;
}

.card:hover .text-muted {
    display: block;
}

.card:hover {
    border: 3px solid #562894;
}

.staffPick {
    height: 500px;
}

.card.pick {
    border: 1px solid lightgray;
    padding-top: 30px;
    height: 400px;
}

.card.pick:hover {
    border: 4px solid #562894;
}

.card.pick:hover img {
    width: 110px;
    height: 90px;
}

.card.pick:hover .stfbtn {
    background-color: #562894;
    color: white;
}

.card img {
    width: 110px;
    height: 90px;
    margin: 0 auto;
    transition: 0.5s;
}

.card-text {
    color: #562894;
    font-weight: bold;
    font-size: 13px;
}

.card-title {
    font-size: 15px;
}

.text-muted {
    display: none;
}

.spick {
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    margin-left: 0;
    padding-left: 0;
    font-weight: bolder;
    margin-bottom: 15px;
}

.spick span {
    border-bottom: 4px solid #562894;
    padding-bottom: 5px;
}

#staffarea {
    height: 100px;
    overflow: hidden;
}

.footer {
    margin-top: 30px;
    color: #F8F9FA;
    padding: 30px;
    background-color: #562894;
}

.btn.stfbtn {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 15px 25px;
}

.boxlink img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    text-align: right;
}

.box ul li {
    list-style: none;
}

.scrollToTop {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    bottom: 90px;
    right: 50px;
    background-color: #562894;
    color: white;
    border-radius: 50%;
    transition: 1s ease all;
    display: none;
}

.scrollToTop:hover {
    background-color: #C0A7F9;
    color: white;
}

@media only screen and (max-width: 769px) {
    .logo-brand img {
        width: 150px;
        height: 45px;
        margin-left: 0px;
    }
    .questionmark {
        display: none;
    }
    .menu {
        display: none;
    }
    .wrapbox {
        display: none;
    }
    .overlay-content a {
        padding: 10px 0px;
        font-size: 20px;
    }
    .mobiletab_hide {
        display: none;
    }
    .text-muted {
        font-size: 10px;
        display: none;
    }
    .card {
        padding-top: 10px;
        margin-bottom: 5px;
    }
    .staffPick {
        height: auto;
    }
    .scrollToTop {
        visibility: hidden;
    }
}

@media only screen and (max-width: 426px) {
    .overlay-content a {
        padding: 8px 0px;
        font-size: 15px;
    }
    .filterwrap a {
        font-size: 12px;
        padding-left: 0px;
    }
    .filterwrap h5 {
        font-size: 12px;
    }
    .card img {
        width: 80px;
        height: 50px;
    }
    .text-muted {
        font-size: 10px;
        display: none;
    }
    .card-text {
        padding: 0;
        margin: 0;
    }
    .card {
        padding-top: 10px;
        margin-bottom: 5px;
    }
    .btn.stfbtn {
        font-size: 10px;
        background-color: white;
        color: black;
        border: 1px solid black;
        padding: 10px 0;
    }
    .scrollToTop {
        visibility: hidden;
    }
}