@import url('https://fonts.googleapis.com/css?family=Candal');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Shojumaru');
@import url('https://fonts.googleapis.com/css?family=Frijole');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


*{
	margin: 0;
	padding: 0;
}

#Project2{
	/* width: 100%; */
	height: 90vh;
	background-image:linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url('images/PochetnaPrvaSlika.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.header-hireus {
    height: 100vh;
    background-image: url(images/black-city-map.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    background-color: transparent !important;
    padding-top: 20px;
}

.navbar-brand{
	margin-left: 50px;
}

.ul-menu{
	margin-right: 70px;
}

.ul-menu li{
	margin-right: 30px;	
}

.navbar-nav li a{
	font-size: 15px;
}

.navbar-nav li a:hover{
	color: #AA1E39 !important;
}

/* .navbar-nav li:last-child a:hover{
    color: white !important;
    background-color: #FD293C
} */

.nav-link-edited {
    background-color: #FE223C;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-bottom: 15px;

}
.nav-link-edited a:hover {
    background-color:#AA1E39;
    color: white!important;
}
/*Main Page */
.laptopImage {
  width: 80%;
  margin-top:-250px;
  float: right;
  }
.scrollLaptop {
  margin:50px 0;
  float:left;
  width: 100%;
}
.imageDivInside{
  width: 95%;
}
.buttonsAndTextInside {
  padding: 14rem 0;

}
.buttonsAndTextInside a {
  margin:0 10px;
}
.innerTextDiv {
  width: 80%;
  padding: 65px 0;
}
.innerTextDiv small {
  color:silver;
  margin:15px 0;
}
.innerTextDivTwo,.innerTextDivFour {
  width: 40%;
  margin:20px 0;
  float: left;
}
.innerTextDivThree {
  width: 10%;
  float: left;
  color:red;
  margin: 20px 0;
}
.clear {
  clear: both;
}
.buttonJP {
  padding: 10px 15px;
  background: white;
  color:black;
  border:1px solid black;
  cursor:pointer;
  margin:0;

}
.buttonEng {
  padding: 10px 20px;
  background-color: black;
  color:white;
  border:1px solid black;
  margin:0;
  cursor: pointer;
}
/*////////////////////////////////////*/
.pd-top-15 {
	padding-top: 15em;
}
.laptop-bg-img {
	padding-top: 73em;
	background-image: url('images/laptop.png');
	width:100%;
	height:550px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.p-marketing {
	color: #F5F5F5;
    /* font-family: 'Candal', sans-serif; */
    font-size: 20px;
    font-weight: 100;
}
.pd-top-input {
    padding-top: 50vh;
}

div.ex2 {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: hidden;
}


/* sekcija 2*/

/* css taleska */
.pd-0 {
    padding: 0!important;
}
.pd-btn {
    padding: 15px 40px;
}
.pd-10px {
    padding: 5px 15px;
}
.pd-right-0 {
    padding-right: 0;
}
.pd-left-0 {
    padding-left: 0;
}
.pd-1 {
    padding: 1rem;
}
.pd-2 {
    padding: 2rem;
}
.pd {
    padding: 1rem 0;
}
.pd-20px {
    padding: 20px;
}
.pd-top-1 {
	padding-top: 1.3rem;
}
.pd-top-5 {
    padding-top: 5rem;
}
.pd-top-2 {
    padding-top: 2rem;
}
.pd-b-10 {
    padding-bottom: 10rem;
}
.pd-t-10 {
    padding-top: 10rem;
}
.mg-10 {
    margin: 10rem 0;
}
.mg-r-1 {
    margin-right: 1rem;
}
.mg-left-1 {
    padding-left: 1rem; 
}

.mg-top-5 {
    margin-top: 5rem;
}
.mg-top-10 {
    margin-top: 10rem;
}
.mg-top-2 {
    margin: 3rem 1rem;
}
.mg-b-8 {
    margin-bottom: 8rem;
}
.mg-b-1 {
    margin-bottom: 1rem;
}

.red {
    color: #FF2C40;
}
.dark {
    color: #23272A;
}
.brand-font-size {
    font-size:35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.h1-font-size {
    line-height: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.h2-font-size {
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.p-font-size-1 {
    font-size: 1.5em;
}

.btn-change-learn-more {
    border: none;
    border-radius: 0;
}
.btn-font-size-change {
    font-size: 0.8em;
}
a:hover {
    text-decoration-color: #FF2C40;
    color: #FF2C40;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }
  .border-right {
      border-right: 1px solid dimgray;
  }
  .border-top {
      border-top: 1px solid dimgray;
      border-bottom: 1px solid lightgrey;
  }

  .border-at-h2 {
     border-top: 1px solid lightgrey;
     border-bottom: 1px solid lightgrey;
     border-left: 1px solid lightgrey;
  }
  .height-100 {
      height: 90vh;
  }

  /* .hover > .hide {
    display: none;
} */
.hover:hover {
    background-color: black;
    opacity: .8;
    color: white;
    transition: .3s;
}
/* .hover:hover > .hide {
    display: block;
    color:white;;
    transition: 2s;
} */
.bg-grey {
    background-color:#F7F7F7;
    height: 75vh;
    /* width: 1000px!important;
    z-index: 11111; */
}

.bg-black {
    background-color: black;
}
.r-c {
    /* border-radius: 30px; */
    opacity: .5;
}
.btn-white {
    background-color: white;
}
.bg-img-footer {
    background-image: url(images/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 3rem;   
}
.hov-grey:hover {
    background-color:#EAE8E8;
}

.nav-link {
	color: white!important;
}
.fixed-top.scrolled {
	background-color: #fff !important;
	transition: background-color 500ms linear;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(48,47,48,0.31);
	-moz-box-shadow: 0px 0px 10px 1px rgba(48,47,48,0.31);
	box-shadow: 0px 0px 10px 1px rgba(48,47,48,0.31);

  }

  .nav-item a {
    color: white!important;
}

.fixed-top.scrolled a {
  color: black!important;
}
.fixed-top.scrolled img {
    color: black!important;
  }

  .fade {
    margin: 50px;
    padding: 50px;
    background-color: lightgreen;
    opacity: 1;
  }

  .footer-border-top {
    padding-top: 2rem;
  }

/************************ SERVICE*/

#service{
  height: 100vh;
  background-image:linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url('images/4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#bestin{
  
  font-size: 3em;
  margin-top: 40%;
  margin-bottom: 20%;
  font-family: Arial;
  font-weight: bold;
  color: white;
}

.work{
    margin-bottom: 10%;
    font-size: 2em;
    font-family: arial;
    cursor: pointer;
    border: 3px solid #FD293C;
    text-align: center;
    color: white;
}
.list li {
  font-size: 1em;
  font-family: arial;
  margin-top: 5px;
  color: white;
  list-style: none;
  font-weight: bold;
  display: none;
  transition: 1s;
}
.work:hover {
  color: #FD293C;
  background-color: white;
  opacity: 0.5;
  
}

.list{
  position: absolute;
  margin-top: 40%;
  
}
.list.show2 li{
  display: block;
   transition: 1s;
}

.tablet {
    width: 40vw;
    height: 60vh;
    background-color: white;
    border-radius: 5%;
    border: 1px solid white;
    -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.35);
}

.tablet-image {
    background-image: url(images/Dolga.jpg);
    background-position: center;
    /* overflow-wrap: normal; */
    height: 50vh;
    background-size: cover;
    z-index: 1111111111;
    overflow: hidden;
    background-repeat: no-repeat;
}


  /************************ TEAM*/

.values{
  margin-top: 8em;
  margin-bottom: 6em;
}
.d-flexButtons{
  display: flex;
  justify-content: center;
}
.fa-plus {
  color: #FC4D3B;
}
.m-300-Auto {
  margin:300px auto;
}
  .borderTopFooter {
    border-top:1px solid silver;
  }
  .bg-img-team {
    background-image:url(images/TeamPrva.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }

  .fa-circle {
      font-size: 10px;
      color: white;
     padding: 3px 8px;
  }

  .bg-light-big {
      background-color:black;
      opacity: 0.6;
  }
  .white-circle {
      width: 50px;
      height: 50px;
      border: 1px solid black;
      padding-top: 8px;
      border-radius: 30px;
    color: black;
      font-size: 20px;
      margin: 0 auto;
  }

  .team> img {
      width: 100%;
      max-width: 100%;;
  }
  .red {
      color: red;
      text-transform: uppercase;
  }
 
  .card-title:hover {
      color: red!important;
  }

  .modal {
      margin-top: 7rem;
      width: 80vw;
      margin-left: 8rem;
    
  }
  #myModal {
    height: 100vh!important;
  }

  .modal-img2 {
  background-image: url('images/office-worker2.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  }
.modal-img1 {
    background-image: url('images/office-worker1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}
.modal-img3 {
    background-image: url('images/office-worker3.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}



/* WORK PAGE*/


/*collapse*/
/* .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
} */



@media only screen and (max-width: 426px) {
   #bestin{
  font-size: 2.5em;
  }
  .listBranding,.listCoding,.listMarketing {
    margin-top:10%;
    left:100px !important;
     }
  #service {
    height: 100vh;
  }
  .pd-t-10 {
    padding-bottom: 8rem;
  }
  .m-20-0 {
    margin:20px 0;
  }
  .displayNClocks{
    display: none;
    }
    .m-300-Auto {
      margin:200px auto;
    }
    .white-circle {
      display: none;
    }
    .laptopImage {
      float: none;
      width: 100%;
      margin-top: -200px;
    }
    .buttonsAndTextInside {
      padding:8rem 0;
    }
    .mg-top-10 {
      margin-top: 10rem;
    }
}