.clock {
    border-radius: 50%;
    background: #fff url(images/ios_clock.svg) no-repeat center;
    background-size: 88%;
    height: 7em;
    padding-bottom: 31%;
    margin: 5.5rem 2rem 3rem 1.5rem;
    /* position: relative; */
    width: 7em;
    background-position: center;
    padding-left: 100px;
  }

  .clock.simple:after {
    background: #000;
    border-radius: 50%;
    content: "";
    /* position: absolute;
    left: 50%;
    top: 50%; */
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
  }


  .minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }


  .hours {
    background: #000;
    height: 10%;
    left: 48.75%;
    position: absolute;
    top: 40%;
    transform-origin: 50% 100%;
    width: 1.5%;
  } 


  .minutes {
    background: #000;
    height: 15%;
    left: 49%;
    position: absolute;
    top: 35%;
    transform-origin: 50% 100%;
    width: 1.5%;
  }

  .seconds {
    background: #000;
    height: 17%;
    left: 49.5%;
    position: absolute;
    top: 33%;
    transform-origin: 50% 100%;
    width: .6%;
    z-index: 8;
  }

  @keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }
  .hours-container {
    animation: rotate 43200s infinite linear;
  }
  .minutes-container {
    animation: rotate 3600s infinite linear;
  }
  .seconds-container {
    animation: rotate 60s infinite linear;
  }

  .minutes-container {
    animation: rotate 3600s infinite steps(60);
  }
  .seconds-container {
    animation: rotate 60s infinite steps(60);
  }



  .minutes-container {
    transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
  }
  .seconds-container {
    transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
  }