body, html{
	height: 100%;
	margin:0;
	font-size: 16px;
	font-family: sans-serif;
}

.pics1{
	background-image: url('img/image1.jpg');
	min-height: 100%;
}
.pics2{
	background-image: url('img/image2.jpg');
	min-height: 400px;
}

.pics3{
	background-image: url('img/image3.jpg');
	min-height: 400px;
}

.pics4{
	background-image: url('img/image1.jpg');
	min-height: 100%;
}

.pics1, .pics2, .pics3, .pics4{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.section{
	text-align: center;
	padding: 50px 80px;
}

.dark_text{
	background-color: #282e34;
	color: white;
}

.box1{
	
	text-align: center;
	font-size: 27px;
	letter-spacing: 8px;
	padding-top: 200px;
	width: 100%;
	color: white;
	text-transform: uppercase;
}
.border{
	background-color: black;
	color: white;
	padding: 10px;
}
.trans{
	background-color: transparent;
}

@media(max-width:568px){
	.pics1, .pics2, .pics3{
	background-attachment: scroll;
	}
}
	